<nav>
    <a href="/"><img src="./img/logo.svg" alt=""></a>
    <div>
        <a href="">Create a Post</a>
        <i>|</i>
        <a href="">Log Out</a>
    </div>
</nav>
<div class="post-container">
    <div class="post" id="ewu212421421">
        <input class="title-input" type="text" placeholder="Title...">
        <hr>
        <div class="post-body">
            <textarea name="" id="" cols="30" rows="10" placeholder="Body..."></textarea>
        </div>
        <div class="info-bar">
            <a class="like-btn">Image +</a>
            <p class="date">dd/mm/yyyy</p>
        </div>
    </div>
    <button class="submit-button">Create Post +</button>
</div>