<nav>
    <a href="/"><img src="./img/logo.svg" alt=""></a>
    <a href="/login">Log In</a>
</nav>
<div class="post-container">
    <div class="post" id="ewu212421421">
        <h1 class="title">Title</h1>
        <hr>
        <div class="post-body">
            <img class="data" src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit tempora, animi sequi unde ipsam doloremque harum blanditiis. Dolorum nisi nihil ullam reiciendis. Esse et commodi enim at tenetur animi tempora. Delectus numquam ipsa possimus, nobis inventore corporis odit velit, sapiente veritatis tempore voluptatibus dolores? Error dolorum, labore provident reiciendis quaerat autem repellat maxime quis quos debitis quam voluptatibus quisquam aliquam beatae placeat, ipsam molestiae similique exercitationem itaque eos ex. Dignissimos architecto cupiditate a ipsum delectus odio natus ipsam nostrum adipisci quisquam est voluptatem, quo, quis laboriosam dicta in ducimus, perferendis iure molestias esse distinctio aut. Facilis possimus sit non praesentium.</p>
        </div>
        <div class="info-bar">
            <a onclick="like(this)" class="like-btn">3243</a>
            <p class="date">dd/mm/yyyy</p>
        </div>
    </div>
</div>